:root {
  /* Background colors */
  --bg-1: #010101; /* Main background, focused panels */
  --bg-2: #170d18; /* Indicators and secondary panels */
  --bg-3: #221523; /* Temporary panels */

  /* Foreground colors */
  --fg-main: #f62e3c; /* Focused text, active content */
  --fg-main2: #cc274b;
  --fg-main3: #f75c6c;
  --fg-warn: #f7c7b7; /* Warnings */
  --fg-error: #d00e0c; /* Errors */
  --fg-4: #d0d0d0; /* Inactive content */
  --fg-5: #89363b;
  --fg-6: #2d2b43; /* Disabled, unfocused text */

  --blackcherry: #32141c;
  --darkcherry: #5f1e24;
  --bloodsalmon: #cf443d;
  --dynastyblossom: #dd5754;
  --desire: #e6324d;
  --strawberry: #f99d9e;

  --charcoal: #2e272f;
  --maplegalla: #805a59;
  --lithium: #939391;
  --mask: #fbeee5;

  --nocturne: #080e1c;
  --eclipse: #121524;
  --splotch: #202636;
  --grapebleach: #543e53;
  --boundary: #594957;
}
